<app-navbars></app-navbars>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3" style="background-color: rgb(71, 71, 232); height: 93vh;">
            <div style="background-color: aliceblue; margin: 5px; border-radius: 4px;">
                <mat-card class="md-3">
                    <form [formGroup]="todoForm">
                        <mat-form-field appearance="outline">
                            <input formControlName="item" matInput placeholder="Create New Task *">
                            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                            <mat-hint>Create New Transition</mat-hint>
                        </mat-form-field>
                        <div style="display: flex; justify-content: center; margin: 25px;">
                            <button *ngIf="!isEditEnabled" (click)="addTask()" [disabled]="todoForm.invalid"
                                mat-raised-button
                                style="background-color: blue; color: aliceblue; height: 20%;">Create</button>

                            <button *ngIf="isEditEnabled" (click)="updatePayment(); updateTask()"  [disabled]="todoForm.invalid"
                                mat-raised-button
                                style="background-color: rgb(240, 214, 85); color: rgb(4, 4, 4); height: 27%; width: 24%; font-size: 12px;">Update</button>

                        </div>
                    </form>
                </mat-card>
            </div>
        </div>
        <div class="col-md-9">
            <div cdkDropListGroup>
                <div class="row">
                    <div class="col-md-2">
                        <div class="example-container">
                            <!-- To Do -->
                            <h4 class="head-title">New<span *ngIf="tasks.length > 0"> + {{tasks.length}}</span></h4>
                            <div cdkDropList [cdkDropListData]="tasks" class="example-list"
                                (cdkDropListDropped)="drop($event)">
                                <div *ngFor="let item of tasks; let i = index" class="example-box" cdkDrag>{{
                                    item.description }}
                                    <div class="box">
                                        <!-- <button mat-icon-button color="warn" (click)="deleteTask(i)"
                                            style="background-color: #fff"><mat-icon
                                                style="color: red;">delete</mat-icon></button> -->
                                        <button mat-icon-button color="warn" (click)="onEdit(item,i)"
                                            style="height: 10px; width: 20px; background-color: #ccc"><mat-icon
                                                style="color: rgb(61, 4, 251); margin-top: -31px; "
                                                [style.fontSize.px]="10">edit</mat-icon></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="example-container">
                            <!-- Inprogress -->
                            <h4 class="head-title1">Payment Pending <span *ngIf="inprogress.length > 0"> +
                                    {{inprogress.length}}</span></h4>
                            <div cdkDropList [cdkDropListData]="inprogress" class="example-list"
                                (cdkDropListDropped)="drop($event)">
                                <div *ngFor="let item of inprogress; let i = index" class="example-box" cdkDrag>
                                    {{ item.description }}
                                    <div class="box">
                                        <button mat-icon-button color="warn" (click)="onEdit(item,i)"
                                            style="height: 10px; width: 20px; background-color: #ccc"><mat-icon
                                                style="color: rgb(61, 4, 251); margin-top: -31px; "
                                                [style.fontSize.px]="10">edit</mat-icon></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="example-container">
                            <!-- Done -->
                            <h4 class="head-title2">PAID <span *ngIf="paid.length > 0"> + {{paid.length}}</span></h4>
                            <div cdkDropList [cdkDropListData]="paid" class="example-list"
                                (cdkDropListDropped)="drop($event)">
                                <div *ngFor="let item of paid; let i = index" class="example-box" cdkDrag>{{
                                    item.description }}
                                    <div class="box">
                                        <button mat-icon-button color="warn" (click)="onEdit(item,i)"
                                            style="background-color: #fff"><mat-icon
                                                style="color: rgb(61, 4, 251);">edit</mat-icon></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="example-container">
                            <!-- Done -->
                            <h4 class="head-title2">PENDING APPROVAL <span *ngIf="pending.length > 0"> +
                                    {{pending.length}}</span></h4>
                            <div cdkDropList [cdkDropListData]="pending" class="example-list"
                                (cdkDropListDropped)="drop($event)">
                                <div *ngFor="let item of pending; let i = index" class="example-box" cdkDrag>{{
                                    item.description }}
                                    <div class="box">
                                        <button mat-icon-button color="warn" (click)="onEdit(item,i)"
                                            style="background-color: #fff"><mat-icon
                                                style="color: rgb(61, 4, 251);">edit</mat-icon></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="example-container">
                            <!-- Done -->
                            <h4 class="head-title2">PENDING_RESUBMISSION OTP <span *ngIf="resubmission.length > 0"> +
                                    {{resubmission.length}}</span></h4>
                            <div cdkDropList [cdkDropListData]="resubmission" class="example-list"
                                (cdkDropListDropped)="drop($event)">
                                <div *ngFor="let item of resubmission; let i = index" class="example-box" cdkDrag>{{
                                    item.description }}
                                    <div class="box">
                                        <!-- <button mat-icon-button color="warn" (click)="deleteDoneTask(i)"
                                            style="background-color: #fff"><mat-icon
                                                style="color: red;">delete</mat-icon></button> -->
                                        <button mat-icon-button color="warn" (click)="onEdit(item,i)"
                                            style="background-color: #fff"><mat-icon
                                                style="color: rgb(61, 4, 251);">edit</mat-icon></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="example-container">
                            <!-- Done -->
                            <h4 class="head-title2">CLOSED WITH APPROVAL <span *ngIf="close.length > 0"> +
                                    {{close.length}}</span></h4>
                            <div cdkDropList [cdkDropListData]="close" class="example-list"
                                (cdkDropListDropped)="drop($event)">
                                <div *ngFor="let item of close; let i = index" class="example-box" cdkDrag>{{
                                    item.description }}
                                    <div class="box">
                                        <!-- <button mat-icon-button color="warn" (click)="deleteDoneTask(i)"
                                            style="background-color: #fff"><mat-icon
                                                style="color: red;">delete</mat-icon></button> -->
                                        <button mat-icon-button color="warn" (click)="onEdit(item,i)"
                                            style="background-color: #fff"><mat-icon
                                                style="color: rgb(61, 4, 251);">edit</mat-icon></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="example-container">
                            <!-- Done -->
                            <h4 class="head-title2">CLOSED_WITH REJECTED <span *ngIf="rejected.length > 0"> +
                                    {{rejected.length}}</span></h4>
                            <div cdkDropList [cdkDropListData]="rejected" class="example-list"
                                (cdkDropListDropped)="drop($event)">
                                <div *ngFor="let item of rejected; let i = index" class="example-box" cdkDrag>{{
                                    item.description }}
                                    <div class="box">
                                        <button mat-icon-button color="warn"
                                            style="background-color: #fff"><mat-icon
                                                style="color: rgb(62, 146, 51);">check_circle</mat-icon></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div cdkDropListGroup>
                        <div class="row">
                            <div class="col-md-2">
                                <!-- to do  -->
                                <!-- <div cdkDropList [cdkDropListData]="tasks" class="example-list" (cdkDropListDropped)="drop($event)">
                            <div *ngFor="let item of tasks" class="example-box" cdkDrag>{{ item }}</div>
                          </div> -->

                            </div>
                            <div class="col-md-2">
                                <!-- inprogress -->
                                <!-- <div cdkDropList [cdkDropListData]="todo" class="example-list" (cdkDropListDropped)="drop($event)">
                            <div *ngFor="let item of todo" class="example-box" cdkDrag>{{ item }}</div>
                          </div> -->

                            </div>

                            <div class="col-md-2">
                                <!-- Done -->
                                <!-- <div cdkDropList [cdkDropListData]="todo" class="example-list" (cdkDropListDropped)="drop($event)">
                            <div *ngFor="let item of todo" class="example-box" cdkDrag>{{ item }}</div>
                          </div> -->

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>