<div class="nav-container">
    <nav class="nav">
      <div class="links">
        <a data-active="index" href="#" style="font-size: 20px;">X</a>
        <a data-active="index" href="#">Workflow for</a>
       
      </div>
      <div class="menu" style=" margin-left: 320px;">
        <a data-active="index" href="#" style="font-size: 9px;"><b>To-do status</b></a>
        <a data-active="index" href="#" style="font-size: 9px;">In-progress status</a>
        <a data-active="index" href="#" style="font-size: 9px;">Done status</a>
        <a data-active="index" href="#" style="font-size: 9px;">Transition</a>
        <a data-active="index" href="#" style="font-size: 9px;">Rule</a>
        <button style="background-color: #0c66e4;
                       margin-left: 160px;
                       border: none;
                       border-radius: 3px;
                       height: 25px;
                       font-size: 13px;
                       font-family: 'Times New Roman', Times, serif;
                       text-align: center;
                      color: #fff;
                      hover{background-attachment: right;}
        ">
            Update workflow
        </button>
        <button 
        style="margin-left: 16px;
            border: none; 
            border-radius: 3px;
            background-color: #fff;
            font-size: 14px;
            height: 25px;
            font-family: 'Times New Roman', Times, serif;
            text-align: center;
            position: absolute;
        ">Discard changes</button> 
      </div>
      
    </nav>
  </div>