<div class="nav-container">
    <nav class="nav">
      <div class="links">
        <a data-active="index" href="#" style="font-size: 20px;">X</a>
        <a data-active="index" href="#">Workflow for <mat-icon class="mat">branding_watermark</mat-icon><mat-icon class="mat">class</mat-icon></a>
       
      </div>
      <div class="menu" style=" margin-left: 280px;">
        <a data-active="index" href="#" style="font-size: 9px;"><b><mat-icon style="background-color: #ced2d8; margin-left: 20px;">add</mat-icon><br>To-do status</b></a>
        <a data-active="index" href="#" style="font-size: 9px;"><mat-icon style="background-color: #b4c6e2; margin-left: 23px;">add</mat-icon><br>In-progress status</a>
        <a data-active="index" href="#" style="font-size: 9px;"><mat-icon style="background-color: #b3ead0; margin-left: 14px;">add</mat-icon><br>Done status</a>
        <a data-active="index" href="#" style="font-size: 9px;"><mat-icon>timeline</mat-icon><br>Transition</a>
        <a data-active="index" href="#" style="font-size: 9px;"><mat-icon>flash_on</mat-icon><br>Rule</a>
        <button style="background-color: #0c66e4;
                       margin-left: 160px;
                       border: none;
                       border-radius: 3px;
                       height: 25px;
                       font-size: 13px;
                       font-family: 'Times New Roman', Times, serif;
                       text-align: center;
                      color: #fff;
                      hover{background-attachment: right;}
        ">
            Update workflow
        </button>
        <button 
        style="margin-left: 16px;
            border: none; 
            margin-top: 29px;
            border-radius: 3px;
            background-color: #fff;
            font-size: 14px;
            height: 25px;
            font-family: 'Times New Roman', Times, serif;
            text-align: center;
            position: absolute;
        ">Discard changes</button> 
      </div>
      
    </nav>
    <mat-divider style="color: rgb(177, 172, 172); width: 97%; margin-left: 60px; "></mat-divider>
  </div>