<div class="d-flex justify-content-center">
    <form class="border border-info p-5">
        <div>
            <div class="border border-dark my-2 p-5">
                <input type="text" name="" id="" placeholder="* Developer's Name" />
                <input type="text" name="" id="" placeholder="* Developer's Office" />
                <input type="text" name="" id="" placeholder="* Developer's Salary" />
                <button type="button">Remove</button>

                <div>
                    <div>
                        <div>
                            <input type="text" name="" id="" placeholder="* Develope's Technology" />
                            <input type="text" name="" id="" placeholder="* Version" />
                            <button type="button">Remove</button>
                        </div>
                    </div>
                </div>
                <button>+</button>
            </div>
        </div>

        <button>Add</button>
        <button>Submit</button>
    </form>
    <div>