.select-fields {
    width: 200px; /* Adjust the width as needed */
    border: 1px solid  #0060d3; /* Blue border for input field */
    padding: 5px; /* Padding inside the input field */
    border-radius: 4px; /* Optional: Rounded corners */
    background-color: #f0f0f0; /* Light gray background to indicate it's readonly */
    color: #333; /* Text color */
    margin-left: 30px;
    text-align: center; /* Centers the text inside the input field */
    font-family: 'Times New Roman';
}

.styled-table {
    margin-bottom: 20px;  /* Adjust as needed */
    margin-left: 10px;    /* Adjust as needed */
    margin-top: 20px;     /* Adjust as needed */
    font-family: 'Times New Roman';
  }
  
  .new_transition1 {
    border: 1px solid #7591c9;
    width: 400px;
    margin-left: 5px;
    margin-top: -10px;
    box-shadow: 0px 2px 2px #ebe5e5;
    border-radius: 5px;
}

.select-fieldss {
    width: 70%; /* Adjust the width as needed */
    border: 1px solid  #148412; /* Blue border for input field */
    padding: 5px; /* Padding inside the input field */
    margin: 5px;
    border-radius: 4px; /* Optional: Rounded corners */
    background-color: #f0f0f0; /* Light gray background to indicate it's readonly */
    color: #333; /* Text color */
    text-align: center; /* Centers the text inside the input field */
}

.button-container {
  margin-left: 255px;
  }

  .button-containers {
    margin-left: 75px;
    }
  


