<div class="container">
    <div id="root"></div>
    <div class="sidebar">
        <img src="/assets/images/img001.png" />
        <h6 class="title">Power up your team with the right workflow</h6>
        <div>
            <p class="paragraph">
                Before you map your workflow here, spend <br> some time with your team. Learn what’s <br> effective, what’s not, and how to help  your team <br> be their best.
            </p>
        </div>
       
        <a href="#" class="linkss" style="font-size: 13px;  margin-left: -19px; font-family: 'Times New Roman', Times, serif;">
            Follow our guide to mapping a workflow with <br>your team 🤩</a><br>
            <a href="#" class="linkss" style="font-size: 13px; margin-left: -39px; font-family: 'Times New Roman', Times, serif;">
                See how a Jira Hero mapped their team’s <br> workflow 👀</a> 
                <p class="paragraphs" >
                    When you’ve nailed the ideal workflow for <br> your team, it’s time to map it here in Jira.
                </p>
                <p> <a href="#" class="linkss" style="font-size: 13px; margin-bottom: 30px; font-family: 'Times New Roman', Times, serif;">
                    Learn how to manage workflows here in Jira 💡</a></p>
               <br><br><br>
    </div>
</div>