<div class="state">
    <app-slot [slotType]="SlotTypeEnum.Input"></app-slot>
    <div class="state-contain"><span>{{config.name}}</span></div>
    <app-slot [slotType]="SlotTypeEnum.Output"></app-slot>
</div>

<!-- <div class="state">
<div class="card">
    <div class="card-header">
        {{config.name}}
    </div>
    <div class="card-body">
        <app-slot [slotType]="SlotTypeEnum.Input"></app-slot>
        <app-slot [slotType]="SlotTypeEnum.Output"></app-slot>
    </div>
</div>
</div> -->

