.state-machine {
    height: 900px;
    flex-grow: 1;
    background-size: 20px 20px;
    background-image: radial-gradient(circle, #e5e5e5e5 1px, rgba(0, 0, 0, 0) 1px);
    box-shadow: 0px 2px 4px rgba(204, 67, 67, 0.25);
    zoom: 1;
    background-color: #4070f4;

    .myState {
        cursor: pointer;
    }

    #header {
        display: flex;
        width: 100%;
        padding: 10px 30px;
        box-sizing: border-box;
        justify-content: space-between;
        background-color: #ffcb2d;
        color: black;
        box-shadow: 0px 4px 4px #ffffff;

        .logo {
            font-size: 17px;
            display: flex;
            gap: 10px;

            svg {
                cursor: pointer;
            }
        }

        #menu {
            display: flex;
            gap: 20px;

            a {
                text-decoration: none;
                font-size: 12px;
                color: #000000;
                font-family: 'Times New Roman', Times, serif;
            }

        }
    }

    &.sidebarActive {
        #sidebar {
            transform: translateX(0);
        }

        .state-machine {
            margin-left: 0;
        }
    }
}

#sidebar {
    width: 250px;
    height: 92%;
    background-color: #1b7fda;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;

    .title {
        font-size: 12px;
    }

    .contents {
        width: 200px;
        height: 20px;
        margin-left: 23px;
        margin: 5px 14px;
    }
}

#side-bar {
    width: 250px;
    height: 92%;
    margin-top: -65%;
    background-color: rgba(0, 153, 232, 0.5);
    /* Adjust opacity as needed */
    box-shadow: 0px 4px 4px #ffffff;
    background-image: url('../../assets/images/irembo.jpeg');
    background-size: 250px 170px;
    background-position: center top;
    /* Adjust as needed */
    background-repeat: no-repeat;
    /* Adjust as needed */
    border: 1px solid #1b7fda;

    .paragraphs {
        font-size: 17px;
        text-align: center;
        color: #ffffff;
        margin: 170px 12px;
        font-family: 'Times New Roman', Times, serif;
    }

    .linkS a {
        color: #000000;
    }
}

.add_nobreakingAction{
    font-size: 13px;
    width: 65px;
    background-color: #4070f4;
    cursor: pointer;
    border: none;
    color: #f7f7f8;
}

.add_nobreakingActiont{
    font-size: 13px;
    width: 55px;
    background-color:  #139a60;
    cursor: pointer;
    border: none;
    margin: 1px;
    margin-left: 83%;
    color: #f7f7ff;
}

/* .add_nobreakingActionss{
    font-size: 13px;
    width: 65px;
    background-color:  #ef0909;
    cursor: pointer;
    color: #050505;
    border: 1px solid #050505;

} */

.modal-header {
    background-image: radial-gradient(circle, #e5e5e5e5 1px, rgba(0, 0, 0, 0) 1px);
    box-shadow: 0px 2px 4px rgba(204, 67, 67, 0.25);
    zoom: 1;
    background-color: #0060d3;

}

#exampleModalLabel {
    font-size: 13px;
    color: #ffffff;
    font-family: 'Times New Roman';
}

.tit {
    font-size: 12px;
    font-family: 'Times New Roman';
    color: #000000;
}

.no-hover:hover {
    box-shadow: none;
    border-color: #ced4da;
}

.divider-container {
    width: 465px;
    color: #1b7fda;
    margin: 10px auto;
}

.move-up {
    transform: translateY(-50px);
    font-size: 12px;
    margin-left: 14px;
}

.prime-button {
    background-color: #007bff;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
}

  .active {
    background-color: #1678da !important;
    color: white !important;
    --bs-nav-tabs-link-active-border-color: #1678da #1678da #ededed  !important;
    cursor: pointer;
  }
  
  .nav-tabs {
    --bs-nav-tabs-border-width: 1px !important;
    --bs-nav-tabs-border-color: #1678da !important;
    padding: 0;
    cursor: pointer;
  }
  
  .nav-link {
    padding: 0.25rem 0.5rem; /* Adjust padding as needed */
    line-height: 1.5; /* Adjust line height as needed */
    cursor: pointer;
    font-size: 11px;
  }
  
.new_transition {
    font-size: 16px;
    font-family: 'Times New Roman';
    color: #070707;
    margin: 0px 0px 0px 15px;
}

.new_transition1 {
    border: 1px solid #7591c9;
    width: 95%;
    margin-left: 23px;
    margin-top: -10px;
    box-shadow: 0px 2px 2px #ebe5e5;
    border-radius: 5px;
}

.new_transition2 {
    border: 1px solid #7591c9;
    width: 93%;
    border-radius: 3px;
    margin-left: 23px;
    margin-top: -10px;
    box-shadow: 0px 2px 2px #ebe5e5;
}

.new_transition7 {
    border: 1px solid #7591c9;
    width: 95%;
    border-radius: 3px;
    margin-left: 23px;
    margin-top: -10px;
    box-shadow: 0px 2px 2px #ebe5e5;
}

.new_transition5 {
    border: 1px solid #7591c9;
    width: 108%;
    border-radius: 3px;
    margin-left: -13px;
    margin-top: -20px;
    box-shadow: 0px 2px 2px #ebe5e5;
}
.inputs{
    padding: 2px;
    width: 85%;
    max-width: 200px;
    margin: 0px 0px 5px 1px;
    box-sizing: border-box;
    text-align: center;
    outline: none;
    border: 1px solid #007bff;;
    font-family: 'Times New Roman';
}

.inputss{
    padding: 10px;
    color: #000;
    width: 85%;
    max-width: 300px;
    margin: 0px 0px 5px 1px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #007bff;;
    font-family: 'Times New Roman';
}

.inputst{
    padding: 10px;
    color: #000;
    width: 85%;
    max-width: 300px;
    margin: 0px 0px 5px 1px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #007bff;;
    font-family: 'Times New Roman';
}

.not-allowed {
    cursor: not-allowed;
    color: rgb(107, 221, 105);
  }

  .button-container {
    display: flex;
    justify-content: flex-end; /* Aligns the button to the right */
    width: 100%; /* Ensure the container takes full width */
  }
  
  .delete-button {
    background-color: rgb(252, 250, 250); /* Ensure the background color is red */
    color: rgb(251, 6, 6); /* Text color should be white */
    font-size: 12px; /* Adjust the font size */
    width: 30px; /* Set width to 30px */
    height: 30px; /* Set height to 30px */
    padding: 0; /* Remove any padding */
    margin: 0; /* Remove any margin */
    border: none; /* Remove any default border */
    border-radius: 4px; /* Slightly round the corners */
    text-align: center; /* Center the text horizontally */
    line-height: 20px; /* Center the text vertically */
    display: inline-block; /* Ensure the button respects width and height */
    cursor: pointer; /* Change cursor to pointer on hover */
   
  }

.inputsss{
    padding: 20px;
    color: #000;
    width: 85%;
    max-width: 300px;
    margin: 0px 0px 5px 1px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #007bff;;
    font-family: 'Times New Roman';
}

.in-group{
  position: relative;
}

.non-breakingsAction{
    margin-left: 10px;
    margin-top: 5px;
}

.non-breakingsAction h2{
    font-family: 'Times New Roman';
    font-size: 14px;
}

.create_transition .input_field {
    margin-bottom: 10px;
    display: flex;
    margin: 15px;
}

.create_transition .input_field .transition_select {
    position: relative;
    width: 80%;
    height: 35px;
}

.create_transition .input_field .transition_select select {
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid #0060d3;
    width: 80%;
    height: 100%;
    padding: 8px 10px;
    border-radius: 3px;
    outline: none;
}

.create_transition .input_field .transition_select:before {
    content: "";
    position: absolute;
    top: 12px;
    right: 78px;
    border: 8px solid;
    border-color: #d5dbd9 transparent transparent transparent;
    pointer-events: none;
}

.create_transition .new_transition1 .input_field .transition_select:before {
    content: "";
    position: absolute;
    top: 12px;
    right: 70px;
    border: 8px solid;
    border-color: #d5dbd9 transparent transparent transparent;
    pointer-events: none;
}


.create_transition .new_transition2 .input_field .transition_select:before {
    content: "";
    position: absolute;
    top: 12px;
    right: 65px;
    border: 8px solid;
    border-color: #d5dbd9 transparent transparent transparent;
    pointer-events: none;
}

.create_transition .create_transition1 .input_field {
    margin-bottom: 10px;
    display: flex;
    margin: 23px;
}

.create_transition .new_transition1 label {
    width: 40%;
    color: #0a0a0a;
    font-family: 'Times New Roman';
    margin-right: 15px;
    padding: 5px 0px;
    font-size: 15px;
}

.create_transition .create_transition2 .input_field {
    margin-bottom: 15px;
    display: flex;
    margin-left: 23px;
}

.new_transition2 .input {
    width: 59%;
    outline: none;
    border: 1px solid #0060d3;
    font-size: 15px;
    padding: 5px 0px;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.new_transition7 .input {
    width: 59%;
    outline: none;
    border: 1px solid #0060d3;
    font-size: 15px;
    padding: 5px 0px;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.create_transition .new_transition2 .input_field label {
    width: 50%;
    color: #0a0a0a;
    font-family: 'Times New Roman';
    margin-right: 15px;
    padding: 5px 0px;
    font-size: 15px;
}

.create_transition2 .input_field {
    margin-bottom: 10px;
    display: flex;
    margin: 23px;
}

.create_transition1 .input_field .input {
    margin-left: 19px;
    outline: none;
}

.create_transition .input_field label {
    width: 100px;
    color: #000000;
    margin-right: 15px;
    font-size: 14px;
}

.create_transition .input_field label {
    width: 100px;
    color: #000000;
    margin-right: 15px;
    font-size: 14px;
}

.form-container .add {
    float: right;
}

.transition_select select,
option {
    font-size: 13px;
    color: #000;
    font-family: 'Times New Roman';
}

.customer-select {
    position: relative;
    width: 42px;
}

.select-box {
    background-color: #fff;
    border: 1px solid #ced4da;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    padding: 0 10px;
    cursor: pointer;
}

.selected-options {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
}

.tag {
    background-color: #f2f2f2f2;
    color: #000;
    border-radius: 5px;
    margin-right: 5px;
    padding: 4px 19px;
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.remove-tag {
    margin-left: 6px;
    cursor: pointer;
}

.fa-angle-down {
    color: #404040;
    font-size: 12px;
}

.options {
    display: none;
    position: absolute;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-top: none;
    max-height: auto;
    overflow-y: auto;
    z-index: 1;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.options.active {
    display: block;
}

.open .options{
    display: block;
}

.options-search-tags{
    background-color: #fff;
    border: 1px solid #ced4da;
    padding: 8px 0px;
    margin: 8px;
}

.search-tags{
   width: 100%;
   border: none;
   outline: none;
   padding: 8px;
   font-size: 12px;
}

.example-chip-list {
    width: 100%;
  }
