<div class="state-machine" [ngClass]="{sidebarActive: sidebarActive}">
    <div id="header">
        <div class="logo">
            <img [src]="sidebarActive 
           ? 'assets/images/cross-icon.svg'
           : 'assets/images/menu-icon.svg'
           " (click)="sidebarActive = !sidebarActive" />
            #irembo
        </div>
        <div id="menu">
            <a href="#">To-Do</a>
            <a href="#">Transition</a>
            <a href="#">Status</a>
            <a href="#" [ngClass]="{'prime-button': true}" style="color: white;" data-bs-toggle="modal"
                data-bs-target="#exampleModalss">Create Transition</a>
            <a href="#">Discard changes</a>
        </div>
    </div>
    <div id="sidebar">
        <div class="contents"><br><br>
            <span style="color: #000;">State</span><br>
            <span style="font-size: 9px; font-family: 'Times New Roman', Times, serif;">Statuses capture the stages of
                your working process.</span>
            <br>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <form [formGroup]="addForm">
                            <input matInput formControlName="items"
                                style="border: 0px; padding-left: 9px; font-family: 'Times New Roman', Times, serif; font-size: 12px; height: 30px; background-color: rgb(181, 198, 224);">

                            <button type="button" style="font-size: 10px; 
          margin: 20px;
          margin-left: 30px;
          width: 60px;
          height: 30px;
          background-color: #0060d3;
          cursor: pointer;
          border: none;
          color: #d9dedb;
          border-radius: 20px;
          box-shadow: 10px 10px -1px rgba(10, 99, 169, 0.16),
         5px 2px 12px -1px rgba(255, 255, 255, 0.70);
          " (click)="addData()" [disabled]="addForm.invalid" *ngIf="!isEditEnabled">Add</button>

                            <button type="button" style="font-size: 10px; 
margin: 20px;
margin-left: 30px;
width: 60px;
height: 30px;
background-color: #0060d3;
cursor: pointer;
border: none;
color: #d9dedb;
border-radius: 20px;
box-shadow: 10px 10px -1px rgba(10, 99, 169, 0.16),
5px 2px 12px -1px rgba(255, 255, 255, 0.70);
" [disabled]="addForm.invalid" *ngIf="isEditEnabled">Update</button>
                        </form>
                    </div>
                </div>
            </div>

            <!-- 
            <span style="font-family: 'Times New Roman', Times, serif;">State:</span> <input type="text"
                placeholder="Done" class="form-control"
                style=" border-radius: 0% ; border: 1px solid #1b7fda; ; font-family: 'Times New Roman', Times, serif; font-size: 12px; height: 30px; background-color: rgb(181, 198, 224);" />
            <span style="font-family: 'Times New Roman', Times, serif;">Transition:</span>
            <select class="form-control"
                style="border-radius: 0%; border: 1px solid #1b7fda; font-family: 'Times New Roman', Times, serif; font-size: 12px; height: 30px; background-color: rgb(181, 198, 224);">
                <option value="option1">Create</option>
                <option value="option2">Pay</option>
                <option value="option3">Push</option>
            </select> -->
            <!-- <button type="button" style="font-size: 10px; 
          margin: 20px;
          margin-left: 50px;
          width: 60px;
          height: 30px;
          background-color: #0060d3;
          cursor: pointer;
          border: none;
          color: #d9dedb;
          border-radius: 20px;
          box-shadow: 10px 10px -1px rgba(10, 99, 169, 0.16),
         5px 2px 12px -1px rgba(255, 255, 255, 0.70);
          ">Click</button> -->
        </div>
    </div>

    <div id="side-bar">
        <h1 class="paragraphs">Power up your team with the right workflow <br><br>
            <a href="#" class="linkS" style="color: #000; text-decoration: none; font-size: 13px;">Follow our guide to
                mapping a workflow with your team 🤩</a><br><br>
            <a href="#" class="linkS" style="color: #000; text-decoration: none; font-size: 12px;">See how a irembo
                campus mapped their team’s workflow 👀</a><br><br>
            <a href="#" class="linkS" style="color: #000; text-decoration: none; font-size: 13px;">When you’ve nailed
                the ideal workflow for your team, it’s time to map it here in irembo.</a><br><br><br><br>

            <span style="color: #fff; font-size: 13px;">Learn how to manage workflows here in irembo 💡</span>
        </h1>
    </div>

    <div class="myState" (click)="toggleSidebar()">
        <app-state *ngFor="let item of workflow.states | keyvalue" [config]="item.value" cdkDrag
            [cdkDragFreeDragPosition]="item.value.position" (cdkDragMoved)="onDragMove($event)">
        </app-state>
    </div>

    <!-- (selectedTransition)="handleTransitionSelect($event)" (selectedTransition)="onUpdated($event)" -->





    <!-- <mat-card class="mt-3">
        <form [formGroup]="newTransForm">
            <mat-form-field appearance="outline">
               <input formControlName="item" matInput placeholder=""/>
            </mat-form-field>
        </form>
        <button mat-raised-button [disabled]="newTransForm.invalid" color="primary">Add</button>
    </mat-card> -->


    <div class="modal fade" id="exampleModalss" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">#irembo Create Transition</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ng-container>
                        <form class="create_transition" [formGroup]="creationForm" (ngSubmit)="createNew()">
                            <div><b class="new_transition">New Transition</b></div>
                            <mat-divider></mat-divider>
                            <div class="input_field">
                                <label>Start State </label>
                                :&nbsp;
                                <div class="transition_select">

                                    <select formControlName="startState" (change)="onStartStateSelected($event)">
                                        <option value="">-----------Select-----------</option>
                                        <option *ngFor="let startState of getStateMachineComponentUniqueStartStates()"
                                            [value]="startState">
                                            {{ startState }}

                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="input_field">
                                <label>Event </label>
                                :&nbsp;
                                <div class="transition_select">
                                    <select formControlName="event">
                                        <option>-----------Select------------</option>
                                        <option *ngFor="let event of getUniqueEvents()" [value]="event">
                                            {{ event }}
                                    </select>
                                </div>
                            </div>
                            <div class="input_field">
                                <label><b>End State 1:</b></label>
                            </div>
                            <div class="new_transition1">
                                <div class="input_field">
                                    <label>State </label>
                                    :&nbsp;
                                    <div class="transition_select">
                                        <select formControlName="stateCode">
                                            <option value="">------------Select---------</option>
                                            <option *ngFor="let stateCode of getUniqueStateCodes()" [value]="stateCode">
                                                {{ stateCode }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="input_field">
                                    <label>BreakingAction </label>
                                    :&nbsp; <div class="transition_select">
                                        <select formControlName="breakingAction">
                                            <option value="">------------Select---------</option>
                                            <option *ngFor="let breakingAction of getBreakingActions()"
                                                [value]="breakingAction">
                                                {{ breakingAction }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div><br>

                            <div class="new_transition2">
                                <div class="input_field">
                                    <label>Non-BreakingAction </label>
                                    :&nbsp; <div class="transition_select">
                                        <select #selectedOption formControlName="actionType">
                                            <option value="">------------Select---------</option>
                                            <option value="NOTIFICATION">NOTIFICATION</option>

                                        </select>
                                    </div>
                                </div>
                            </div><br>

                            <div class="modal-footer">
                                <div class="btn btn-outline-danger btn-sm" data-bs-dismiss="modal">Exit</div>
                                <button class="btn btn-outline-success btn-sm me-1"
                                    data-bs-dismiss="modal">Create</button>
                            </div>
                        </form>
                    </ng-container>
                </div>

            </div>
        </div>
    </div>

    <!-- <div cdkDropList [cdkDropListData]="data" class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div *ngFor="let item of tasks; let i = index" class="example-box" cdkDrag>
        {{ item.description }}
    </div>
</div> -->

    <!-- <app-state *ngFor="let item of workflow.states | keyvalue"  [config]="item.value" cdkDrag [cdkDragFreeDragPosition]="item.value.position" (cdkDragMoved)="onDragMove($event)"></app-state> -->
    <!-- <app-transition-new *ngFor="let item of workflow.transitions; let i = index" [config]="item"
        [data]="item.description" cdkDrag [cdkDragFreeDragPosition]="item.position" (cdkDragMoved)="onDragMove($event)"
        (selectedTransition)="handleTransitionSelect($event)" [data]="data"></app-transition-new> -->

    <!-- <app-transition-new *ngFor="let item of workflow.transitions; let i = index" [config]="item"
        [data]="item.description" cdkDrag [cdkDragFreeDragPosition]="item.position" (cdkDragMoved)="onDragMove($event)"
        [workflows]="workflows">
    </app-transition-new> -->
    <app-transition-new *ngFor="let item of workflow.transitions; let i = index" [config]="item" [data]="item" cdkDrag
        [cdkDragFreeDragPosition]="item.position" (cdkDragMoved)="onDragMove($event)" [workflows]="workflows"
        (selectedTransition)="onUpdated($event)" (displayData)="handleTransitionSelect($event)">
    </app-transition-new>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><b>#irembo update transition</b></h5>
                    <button style="background-color: #5794de; height: 1px; width: 1px;" type="button" class="btn-close"
                        data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body form-container">
                    <div class="modal-body">
                        <ng-container *ngIf="transitionToEdit">
                            <form *ngIf="showForm" class="create_transition">
                                <div>
                                    <b class="new_transition">Edit Transition</b>
                                    <mat-divider></mat-divider>
                                </div>
                                <div class="input_field">
                                    <label>Start State:</label>&nbsp;
                                    <div class="transition_select">
                                        <select (change)="onStartStateSelected($event)">
                                            <option>{{transitionToEdit.startState}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="input_field">
                                    <label>Event:</label>&nbsp;
                                    <div class="transition_select">
                                        <select (change)="onEventSelected($event)">
                                            <option>{{transitionToEdit.name}}</option>
                                            <ng-container *ngFor="let event of getUniqueEvents()">
                                                <option>{{event}}</option>
                                            </ng-container>
                                        </select>
                                    </div>
                                </div>
                                <div class="input_field">
                                    <label><b>End State 1:</b></label>
                                </div>
                                <div class="new_transition1">
                                    <div class="input_field">
                                        <label>State:</label>&nbsp;
                                        <div class="transition_select">
                                            <select>
                                                <option>{{transitionToEdit.endStateOne?.stateName}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="input_field">
                                        <label>BreakingAction:</label>&nbsp;
                                        <div class="transition_select">
                                            <select *ngIf="transitionToEdit.endStateOne?.breakingAction">

                                            </select>
                                        </div>
                                    </div>
                                </div><br>
                                <div class="new_transition2">
                                    <div class="input_field">
                                        <label>Non-Breaking Actions</label>:
                                        <div class="transition_select">
                                            <select>
                                                <option
                                                    *ngFor="let action of transitionToEdit.endStateOne?.nonBreakingActionList">
                                                    {{ action.actionType }}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row justify-content-end">
                                        <div class="col-auto">
                                            <button class="btn btn-success btn-sm me-1"
                                                (click)="addToTable()">Add</button>
                                        </div>
                                        <table class="table table-bordered"
                                            style="font-size: 10px; width: 92%; margin: 5px 20px 3px 0px; color: rgb(6, 6, 6);">
                                            <thead>
                                                <tr>
                                                    <th style="color: rgb(44, 41, 214); text-align: left;">Action Name
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody style="color: black;">
                                                <tr *ngFor="let transition of selectedTransitions; let i = index">
                                                    <td style="text-align: left;">
                                                        <input type="text" [(ngModel)]="transition.ActionName"
                                                            placeholder="--------- - ------- - - ---- - ---"
                                                            name="actionName{{i}}"
                                                            style="width: 80%; margin: 10px 15px 13px 22px;border: none;">
                                                    </td>
                                                    <td style="text-align: right;">
                                                        <button type="button"
                                                            class="btn btn-outline-primary btn-sm me-1">Edit</button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div><br>
                            </form>
                        </ng-container>
                    </div>
                </div><br>
                <div class="modal-footer">
                    <div class="btn btn-outline-danger btn-sm" data-bs-dismiss="modal">Exit</div>
                    <button class="btn btn-outline-primary btn-sm me-1">Update</button>
                </div>
            </div>
        </div>
    </div>


    <div class="new_transition3">
        <div class="input_field">
            <!-- <table class="table table-bordered" class="table table-bordered" style=" font-size: 10px; color: rgb(6, 6, 6);">
                                <thead>
                                    <tr>
                                        <th style="color: rgb(44, 41, 214);">Start State</th>
                                        <th style="color: rgb(44, 41, 214);">Event</th>
                                        <th style="color: rgb(44, 41, 214);">End State</th>
                                        <th style="color: rgb(44, 41, 214);">Breaking Action</th>
                                        <th style="color: rgb(44, 41, 214);">Non-Breaking Action</th>
                                        <th style="color: rgb(245, 15, 15);">Action</th>
                                    </tr>
                                </thead>
                                <tbody style="color: black;">
                                    <ng-container *ngFor="let transition of selectedTransitions">
                                        <tr >
                                            <td>{{ transition.startState }}</td>
                                            <td>{{ transition.event }}</td>
                                            <td>{{ transition.endState }}</td>
                                            <td>{{ transition.breakingAction }}</td>
                                            <td>{{ transition.nonBreakingAction }}</td>
                                            <button class="btn btn-primary btn-sm me-1">Edit</button>
                                        </tr>
                                    </ng-container>
                                </tbody>
                            </table> -->


            <!-- <div class="divider-container">
                    <mat-divider></mat-divider>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-6 text-center">
                        <div class="input-group mb-3 w-auto">
                            <input type="text" class="form-control no-hover-sm" placeholder="Create..">
                            <button class="btn btn-outline-primary btn-sm" type="button">Ok</button>
                        </div>
                    </div>
                    <h6 class="text-primary mt-5 move-up">Transition:</h6>
                    <div style="overflow-y: auto; margin-top: -70px; height: 100px;">
                        <div class="m-3">
                            <div class="p-2">
                                <div class="input-group row ps-3">
                                    <select class="form-select" aria-label="Select Start State">
                                        <option selected disabled>Select Transition</option>
                                        <ng-container *ngFor="let transition of transitionsData">
                                            <option>{{ transition.event }}</option>
                                        </ng-container>
                                    </select>
                                    <button class="btn btn-outline-primary col me-1">Edit</button>
                                    <div class="btn btn-outline-danger col">x</div>
                                </div> -->

            <!-- <div class="input-group row ps-3">

                <div class="card col-md-8"  *ngFor="let transition of transitionsData"><td>{{ transition.startState }}</td></div>
                <button class="btn btn-outline-primary col me-1">Edit</button>
               <div class="btn btn-outline-danger col">x</div> -->
            <!-- <form [formGroup]="stateMachineForm">
                <div>
                    <textarea formControlName="transitions" id="" cols="30" rows="10"></textarea>
                </div>
               </form> -->

            <!-- <table>
                <thead>
                  <tr>
                    <th>Start State</th>
                    <th>Event</th>
                    <th>End State One</th>
                    <th>End State Two</th>
                    <th>Position</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let transition of transitionsData">
                    <td>{{ transition.startState }}</td>
                    <td>{{ transition.event }}</td>
                    <td>{{ transition.endStateOne ? transition.endStateOne.stateName : 'N/A' }}</td>
                  </tr>
                </tbody>
              </table> -->
            <!-- </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-outline-danger btn-sm" type="button" data-bs-dismiss="modal">Exit</button>
                </div>
            </div>

        </div>
    </div>
</div> -->

            <!-- <svg height="400" width="450" xmlns="http://www.w3.org/2000/svg">
    <g cdkDrag> -->
            <!-- <rect width="200" height="100" x="10" y="10" rx="20" ry="20" fill="blue"  ></rect>
        <text fill="red">I love SVG!</text> -->
            <!-- </g>

</svg> -->

            <!-- <div> -->
            <!-- <button (click)="createLineForTransitions()">Worflow draw</button>  -->
            <!-- </div> -->