<app-header></app-header>

<div class="container mt-5">

    <div class="start_state" cdkDrag>
        <p style="color: white; margin-top: 11px; text-transform: uppercase; font-size: 10px; font-family: 'Times New Roman', Times, serif;"><b>start</b></p>
      </div>

      <div class="create_state" cdkDrag>
       <h6 style="color: #000; font-size: 11px; margin-top: 5px; font-family: 'Times New Roman', Times, serif;">Create</h6>
      </div>

      <div class="todo_state" cdkDrag>
        <h6 style="color: #000; font-size: 11px; margin-top: 8px; font-family: 'Times New Roman', Times, serif;">TO DO</h6>
      </div>

      <div class="anyStatus_state" cdkDrag>
        <h6 style="color: #fff; font-size: 11px; margin-top: 8px; font-family: 'Times New Roman', Times, serif;">ANY STATUS</h6>
      </div>

      <div class="container">
        <div class="in_progress_state" cdkDrag>
          <h6 style="color: #000; font-size: 11px; margin-top: 8px; font-family: 'Times New Roman', Times, serif;">IN PROGRESS</h6>
        </div>
      
        <div class="arrow"></div>
      
        <div class="anyStatus_state" cdkDrag>
          <h6 style="color: #FFF; font-size: 11px; margin-top: 8px; font-family: 'Times New Roman', Times, serif;">ANY STATUS</h6>
        </div>
      </div>
    
      <div class="container" cdkDrag>
        <div class="done_state">
          <h6 style="color: #000; font-size: 11px; margin-top: 8px; font-family: 'Times New Roman', Times, serif;">DONE</h6>
        </div>
        
        <div class="arrow">
          <mat-icon style="color: black;">arrow_upward</mat-icon>
        </div>
        
        <div class="anyStatus_state">
          <h6 style="color: #fff; font-size: 11px; margin-top: 8px; font-family: 'Times New Roman', Times, serif;">ANY STATUS</h6>
        </div>
      </div>

</div>

<app-alert></app-alert>