svg line:hover, path:hover {
  stroke: black;
  cursor: nw-resize;
}

svg path:hover {
  stroke: black;
  cursor: nw-resize;
}
.start_state {
    width: 32px;
    height: 30px;
    border: solid 1px #44556f;
    color: rgba(0, 0, 0, 0.87);
    cursor: move;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #44556f;
    border-radius: 53%;
    position: relative;
    z-index: 1;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
                0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }

  .start_state:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }

  .todo_state {
    width: 95px;
    height: 25px;
    border: solid 1px #7d8792;
    color: rgba(0, 0, 0, 0.87);
    cursor: move;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #f1f2f4;
    border-radius: 4px;
    position: relative;
    z-index: 1;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
                0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
  
  .todo_state:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }

  .in_progress_state {
    width: 110px;
    height: 25px;
    border: solid 1px #4c96ff;
    color: rgba(0, 0, 0, 0.87);
    cursor: move;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #eaf2ff;
    border-radius: 4px;
    position: relative;
    z-index: 1;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
                0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
  
  .in_progress_state:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }

  .done_state {
    width: 95px;
    height: 25px;
    border: solid 1px #2aba80;
    color: rgba(0, 0, 0, 0.87);
    cursor: move;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #dcfff1;
    border-radius: 4px;
    position: relative;
    z-index: 1;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
                0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }

  .done_state #done{
       text-decoration: none;
  }

  /* Bullet Start By here */
.done_state #done::before{
    content: '';
    position: absolute;
    cursor: move;
    inset: 2px;
    background-color: #dcfff1;
}

.done_state #done h6{
  position: relative;
  z-index: 1;
}

.done_state #done i{
  position: absolute;
  inset: 0;
  display: block;
}

.in_progress_state #done i::before {
  content: '';
  position: absolute;
  border: 2px solid #0c66e4;
  border-radius: 50%;
  margin-top: 8px;
  margin-left: -52px;
  cursor: crosshair;
  width: 8px;
  height: 8px;
  background-color: #fff;
  visibility: hidden; 
}

.in_progress_state.active #done i::before {
  visibility: visible; 
}

.done_state #done i::after {
  content: '';
  position: absolute;
  border: 2px solid #e40c0c;
  border-radius: 50%;
  bottom: -4px;
  cursor: crosshair;
  left: 70%;
  width: 8px;
  height: 8px;
  background-color: #fff;
  visibility: hidden; 
  }

.done_state #done i::after {
content: '';
position: absolute;
border: 2px solid #0c66e4;
border-radius: 50%;
bottom: 8px;
margin-left: 25px;
cursor: crosshair;
width: 8px;
height: 8px;
background-color: #fff;
visibility: hidden; 
}

.done_state.active #done i::after {
visibility: visible; 
} 
.done_state.active .done i::after {
  visibility: visible; 
} 

/* Bullet End By here */
  
.done_state:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  .create_state {
    width: 52px;
    height: 22px;
    border: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    cursor: move;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #fff;
    border-radius: 1em;
    position: relative;
    z-index: 1;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
                0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
  
  .create_state:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }

  .done_state:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }

  .anyStatus_state {
    width: 80px;
    height: 18px;
    border: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    cursor: move;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #44556f;
    border-radius: 4px;
    position: relative;
    z-index: 1;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
                0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
  
  .anyStatus_state:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }


  .arrow_line{
    position: absolute;
    width: 230px;
    height: 5px;
    top: calc(50% - 2.5px);
    left: calc(50% - 100px);
    z-index: 50;
    background: #555468;
    border-radius: 5px;
  }
  .arrow_head{
    position: absolute;
    background-image: linear-gradient(-45deg, #0e0e0e 0%, #0e0e0e 50%, transparent 50%);
    width: 30px;
    height: 30px;
    top: 8px;
    right: 5px;
    z-index: 50;
    transform: rotateZ(-45deg);
  }

  .arrow_top,
.arrow_bottom {
  position: absolute;
  width: 30px;
  height: 15px;
  background: #555468;
}

.arrow_top {
  top: -10px;
}

.arrow_bottom {
  bottom: -10px;
}

.line {
  position: absolute;
  background: #555468;
  width: 1px;
  height: 30px;
  top: calc(50% - 15px);
}

.line-1 {
  left: calc(50% - 100px);
}

.line-2 {
  right: calc(50% - 100px);
}

.container {
  position: relative;
}

.arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid #555468;
}

.arrow:before {
  content: '';
  position: absolute;
  top: -20px;
  left: -10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid white;
}

.arrow:after {
  content: '';
  position: absolute;
  top: -18px;
  left: -8px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 16px solid #555468;
}

.arrow.left {
  left: calc(50% - 20px); 
}

.arrow.right {
  right: calc(50% - 20px); 
}

#graphContainer {
  width: 800px;
  height: 600px;
  background-color: rgb(242, 233, 233); 
  position: relative; 
}

.node {
  width: 50px; 
  height: 50px; 
  background-color: rgb(7, 6, 6);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif; 
}

.edge {
  stroke: rgb(186, 59, 59); 
  stroke-width: 2px; 
}



